<div class="row clearfix layout layout-left">
  <div class="col-xs-12 col-sm-4 col-md-4 col-print-12 details">
    {%- if include.item.original.cover -%}<img src="{{ include.item.original.cover }}" class="cover">
    {%- endif -%}
    {%- if include.item.original.name -%}
      {%- if include.item.original.link -%}<a href="{{ include.item.original.link }}" target="_blank">
      <h4>{{ include.item.original.name }}</h4>
      </a>
      {%- endif -%}
    {%- endif -%}
    {%- if include.item.original.publisher -%}<p>{{ include.item.original.publisher }}</p>{%- endif -%} 
    {%- if include.item.original.dates -%}{{ include.item.original.dates }}{%- endif -%}
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-print-12 details">
    {%- if include.item.translated.cover -%}<img src="{{ include.item.translated.cover }}" class="cover">
    {%- endif -%}
    {%- if include.item.translated.name -%}
      {%- if include.item.translated.link -%}<a href="{{ include.item.translated.link }}" target="_blank">
      <h4>{{ include.item.translated.name }}</h4>
      </a>
      {%- endif -%}
    {%- endif -%}
    {%- if include.item.translated.publisher -%}<p>{{ include.item.translated.publisher }}</p>{%- endif -%} 
    {%- if include.item.translated.dates -%}{{ include.item.translated.dates }}{%- endif -%}
  </div>
  <div class="col-xs-12 col-sm-8 col-md-4 col-print-12">
    {%- if include.item.translated.quote -%}
      <p class="quote">{{ include.item.translated.quote }}</p>
    {%- endif -%}
    {{ include.item.translated.description | strip | markdownify }}
  </div>
</div>
